/* Generelle Elements
 *
 *      Inhalt
 * Artikel
 * Infobox
 * Überschriften
 * Bilder
 * Archiv
 * Tabellen
 * Form
 * Bildergalerie
 * Horizontales Menü
 *
 */


/************************/
/* Artikel              */
/************************/

.artikel {
    display: block;

    padding: 10px 10px;
    margin: 10px 0;
    overflow: auto;
    width: 100%;

    border: 3px solid #95C11F;
    transition: box-shadow 100ms ease;
}

.artikel-bild {
    margin-top: 5px;
    margin-right: 5px;
    float: left;
    height: 75px;
    width: 100px;
}

.artikel-schatten {
    -webkit-box-shadow: 5px 5px 10px 0 rgba(117, 117, 117, 1);
    -moz-box-shadow: 5px 5px 10px 0 rgba(117, 117, 117, 1);
    box-shadow: 5px 5px 10px 0 rgba(117, 117, 117, 1);
}

.artikel-schatten:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.artikel-titel {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 10pt;
}

/************************/
/* Infobox              */
/************************/

.infobox {
    width: 100%;
    margin: 10px auto;
    border: 2px solid #006A32;
    padding: 5px;
}

.infobox-wichtig {
    border: 2px solid red;
}

.infobox-titel{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 7pt;
}


/************************/
/* Überschriften        */
/************************/

.titel {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-size: 12pt;
}

.subtitel {
    font-size: 10pt;
    text-align: center;
    font-weight: bold;
}

/************************/
/* Bilder               */
/************************/

.bild-xl {
    width: 80%;
    height: auto;
}

.bild-l {
    width: 60%;
    height: auto;
}

.bild-m {
    width: 40%;
    height: auto;
}

.bild-s{
    width: 20%;
    height: auto;
}

.bild-links{
    float: left;
}

.bild-mittig {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bild-rechts {
    float: right;
}

/* Für bilder in Aktuelles */


/************************/
/* Archiv               */
/************************/

/* Archiv container */
.archiv {
    display: flex;
    flex-flow: row wrap;
    font-size: 11px;
    text-align: left;
}

.archiv div {
    flex: 1;
    flex-basis: 25%;
    margin: 10px;
    min-width: 110px;
}

/************************/
/* Tabellen             */
/************************/

table {
    border-collapse: collapse;
    border: 1px solid #006A32;
}

td,
th {
    border: 1px solid #006A32;
    padding: 5px;
}

th {
    background-color: #00cc00;
    text-align: center;
}

.noborder,
.noborder td,
.noborder th {
    border: 0 solid #FFFFFF;
}

/************************/
/* Forms                */
/************************/


input,
textarea {
    border: 1px solid green;
    float: right;
    width: 75%;
    resize: vertical;
}

label {
    display: block;
    /*border: 2px solid green;*/
    margin-bottom: 5px;
    width: 100%;
}

/************************/
/* Bildergalerie        */
/************************/

#galerie {
    background-color: gray;
    padding: 5px;
}

.galerie-teaser {
    margin: 5px;
    border: 1px solid green;
}

#galerie-inner {
    background-color: lightgray;
    display: flex;
    flex-flow: wrap;
}

#galerie-steuerung {
    text-align: center;
    color: white;
}

#galerie-big {
    max-width: 90%;
}

/************************/
/* Horizontales Menü    */
/************************/

.nav-horizontal {
    margin: auto;
    padding: 0;
}

.nav-horizontal > span {
    float: left;
    border: 2px solid #006A32;
    border-left-width: 0;
    padding: 3px;
}

.nav-horizontal > span:first-child {
    border-left-width: 2px;
}