/* Typografie und format Regeln
 *
 *      Inhalt
 * Links
 * Text
 * Ränder
 */

/************************/
/* Links                */
/************************/

a {
    text-decoration: none;
    color: darkgreen;
}

a:visited {
    color: #008e00;
}

a:hover {
    color: #F88030;
}

/************************/
/* Text                 */
/************************/

.text-links {
    text-align: left;
}

.text-rechts {
    text-align: right;
}

.text-mittig {
    text-align: center;
}

.text-einzug {
    margin-left: 1em;
}

/************************/
/* Maus                 */
/************************/

.maus-hand {
    cursor: pointer;
}

.maus-zeiger {
    cursor: default;
}

/************************/
/* Ränder               */
/************************/

.rand-primär {
    border: 1px solid #006A32;
}

.rand-sekundär {
    border: 1px solid #95C11F;
}

.rand-dick {
    border-width: 2px;
}