/* Typografie und format Regeln
 *
 *      Inhalt
 * Links
 * Text
 * Linie
 */

/************************/
/* Links                */
/************************/

a {
    text-decoration: none;
    color: darkgreen;
}

a:visited {
    color: #008e00;
}

a:hover {
    color: #F88030;
}

/************************/
/* Text                 */
/************************/

.text-links {
    text-align: left;
}

.text-rechts {
    text-align: right;
}

.text-mittig {
    text-align: center;
}

/************************/
/* Maus                 */
/************************/

.maus-hand {
    cursor: pointer;
}

.maus-zeiger {
    cursor: default;
}

/************************/
/* Linie                */
/************************/

hr {
    border-style: solid;
    color: #006A32;
    background-color: #006A32;
    margin: 1px 1px 5px;
}