/* Dathe-Gymnasium v5 CSS
 *
 *          Inhalt
 * Dokument Struktur
 *
 *
 *          Farben
 * Dunkelgrün (Infoleiste, Menü) #006A32
 * Hellgrün (Aktuelles) #95C11F
 * Grau (Hintergrund) #EFEFEF
 */

/*allgemein Festlegungen  */

* {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

#wrapper {
    display: block;
    margin: 0 auto;
    padding: 0 25px 10px 25px;
    box-shadow: 0 0 20px 2px;
    background-color: #EFEFEF;
}

#header {
    display: block;
    margin: 0 0 5px 0;
    /* 5px unten */
    width: 100%;
    height: 100%;
}

#header img {
    width: 100%;
}

.container {
    display: flex;
    margin-top: 10px;
}

#inhalt {
    /* Positionierung */
    flex: 5;
    /* Box Model */
    margin: 0;
    padding: 10px 5px 0 5px;
    /* Visuelles */
    font-size: 13px;
    text-align: justify;
    line-height: 18px;
    transition: 0.2s linear;
}

#sidebar {
    flex: 1;
    padding: 0;
    margin: 0 0 0 15px;
    text-align: center;
    font-size: 11px;
    line-height: normal;
}

.blog-img {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    height: 75px;
    width: 100px;
}

#sidebar div {
    padding: 5px 3px;
}

#articles {
}

.article-shadow {
    -webkit-box-shadow: 5px 5px 10px 0 rgba(117, 117, 117, 1);
    -moz-box-shadow: 5px 5px 10px 0 rgba(117, 117, 117, 1);
    box-shadow: 5px 5px 10px 0 rgba(117, 117, 117, 1);
}

.shadow {
    /* Wofür? */
    width: 50%;
    display: inline-block;
    overflow: visible;
    padding: 10px 10px;
    margin: 10px 10px;
    box-shadow: 5px 5px 10px 0 rgba(117, 117, 117, 1);
}

#footer {
    bottom: 0;
}

/* Bildergalerie */

#galerie {
    background-color: gray;
    padding: 5px;
}

.galerie-teaser {
    margin: 5px;
    border: 1px solid green;
}

#inner {
    background-color: lightgray;
}

#steuerung {
    text-align: center;
    color: white;
}

#back,
#close,
#next {
    cursor: pointer;
}

#galerie-big {
    max-width: 90%;
    margin: 5px;
}

/* Bildergalerie ende */

a {
    text-decoration: none;
    color: lightgreen;
}

a:link {
    color: darkgreen;
}

a:visited {
    /* color: #666666; ALT*/
    color: #008e00;
}

a:hover {
    color: #F88030;
}

a:active {
    color: #000000;
}

/* Nav Leiste */

/* Nav Leiste ende */

/* - - - - - */

.hiddentext {
    color: #003460;
}

.intro {
    border-top-width: 5px;
    border-left-width: 5px;
}

/* - - - - - */

/* - - - - - */

.linksbund {
    text-align: left;
}

.rechtsbund {
    text-align: right;
}

hr {
    border-style: solid;
    color: #006A32;
    background-color: #006A32;
    margin: 1px 1px 5px;
}

/* CSS von Oisin */

label {
    display: block;
    /*border: 2px solid green;*/
    margin-bottom: 5px;
    width: 100%;
}

.ol {
    list-style: decimal inside;
}

input,
textarea {
    border: 1px solid green;
    float: right;
    width: 75%;
    resize: vertical;
}

#senden {
    width: 100%;
    margin-top: 10px;
}

.archiv {
    font-size: 11px;
    text-align: left;
}

.gruen {
    border: 2px solid green;
    padding: 10px;
    overflow: auto;
    margin-bottom: 5px;
}

.gruen div {
    float: right;
    width: 70%;
    text-align: left;
}

.gruen img {
    float: left;
    padding-right: 6px;
}

#horzMenu {
    margin: auto;
    padding: 0;
}

#horzMenu > span {
    float: left;
    border: 2px solid #006A32;
    border-left-width: 0;
    padding: 3px;
}

#horzMenu > span:first-child {
    border-left-width: 2px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    border: 1px solid #006A32;
}

td,
th {
    border: 1px solid #006A32;
}

th {
    background-color: #00cc00;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid #006A32;
    padding: 5px;
}

.noborder,
.noborder td,
th {
    border: 0 solid #FFFFFF;
}

/* Ende von Oisin's CSS */

.navbar-link {
    position: absolute;
    display: none;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 20;
    transition: left 350ms linear;
}

/*************************************************************/
/*              Media Queries                                */
/*************************************************************/

/* Auflösungen
 *
 * Normal (ab 1100px breite)
 *   85% Breite
 *
 * Klein (ab 700px breite)
 *   100% Breite
 *   Versteckte Navigation
 *
 * Mobil (unter 700px breite)
 *   100% Breite
 *   Versteckte Navigation
 *   Versteckte Infoleiste
 */

@media (min-width: 1100px) { /* Normal */
    #wrapper {
        width: 85%;
    }
}

@media (max-width: 1100px) { /* Klein */
    #wrapper {
        box-shadow: none;
        overflow: hidden;
    }

    #navbar {
        background-color: #95C11F;
        opacity: 0.95;
        position: absolute;
        top: 0;
        width: 0;
        left: 0;
        overflow: hidden;
        transition: width 350ms linear;
    }

    .navbar-link {
        display: block;
    }

    #navbar.active {
        width: 25%;
        padding: 25px 15px;
    }

    .navbar-link.active {
        left: 26%;
    }

    .table-responsive {
        /* Scrollbar um Tabelle einfügen */
        overflow-x: auto;
    }
}

@media (max-width: 700px) { /* Mobil */
    #sidebar {
        display: none;
    }

    .container {
        display: block;
    }

    #navbar.active {
        width: 50%;
        padding: 25px 15px;
    }

    .navbar-link.active {
        left: 51%;
    }
}

/* Modal TODO Move!*/

#modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-close {
    top: 0;
    right: 5px;
    position: absolute;
    cursor: pointer;
}

#modal-head {
    float: right;
    display: inline;
}

#modal-body {
    width: 100%;
    display: block;
    position: relative;
}

#modal-content {
    display: inline;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
