#navbar {
    flex: 1;
    padding: 0;
    margin-right: 15px;
    text-align: left;
    font-size: 11px;
}

#nav a {
    color: black;
}

#nav {
    position: relative;
    font-weight: bold;
    padding-left: 30px;
}

#nav ul {
    display: none;
    padding-left: 30px;

}

#nav li {
    padding: 2px 2px 2px 20px;
    cursor: default;
    margin: 5px -35px;
    position: relative;
    list-style: none;
}

#nav li.expand::before {
    content: url(/static/bilder/elemente/arrow_down.gif);
    position: absolute;
    left: 5px;
    top: 0;
    cursor: pointer;
}

#nav li.expanded::before {
    content: url(/static/bilder/elemente/arrow_up.gif);
}

.navbar-link {
    position: absolute;
    display: none;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: left 350ms linear;
}