/*  */
 

/*  */
#menü {
    position: relative;
    font-weight: bold;
    padding-left: 30px;
    margin-bottom: 30px;
    /* Alle clicks ignorieren, um zufälliges schließen zu verhindern */
    pointer-events: none;
}

#menü a {
    color: black;
    /* Nur clicks auf links zulassen */
    pointer-events: all;
}

#menü ul {
    display: none;
    padding-left: 30px;
}

#menü li {
    padding: 2px 2px 0 15px;
    cursor: default;
    margin: 5px -30px;
    position: relative;
    list-style: none;
}

#menü li.expand::before {
    content: '\f0da';
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    left: 1px;
    cursor: pointer;

    /* Clicks auf Pfeil zulassen */
    pointer-events: all;
}

#menü li.expanded::before {
    content: '\f0d7';
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    left: -2px;
    cursor: pointer;

    /* Clicks auf Pfeil zulassen */
    pointer-events: all;
}

.navbar-link {
    position: absolute;
    display: none;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: left 350ms linear;
}
