/*allgemein Festlegungen  */

@viewport {
    width: device-width;
    zoom: 0.4;
}

* {
    margin: 0px auto;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.2s ease;
    /*overflow:hidden; */
}

;
HTML,
BODY {
    SCROLLBAR-HIGHLIGHT-COLOR: #808080;
    SCROLLBAR-SHADOW-COLOR: #000000;
    SCROLLBAR-3DLIGHT-COLOR: #D0DCE0;
    SCROLLBAR-FACE-COLOR: #D0DCE0;
    SCROLLBAR-ARROW-COLOR: #ffffff;
    SCROLLBAR-TRACK-COLOR: #D0DCE0;
    SCROLLBAR-DARKSHADOW-COLOR: #D0DCE0;
    SCROLLBAR-BASE-COLOR: #D0DCE0;
    display: ;
}

#wrapper {
    /*position:relative;*/
    margin: 0 auto;
    background-image: url('./elemente/bg_line.png');
    background-size: 100% 100%;
    background-repeat: repeat-y;
    padding: 0px 18px 0px 17px;
    border-width: 0px;
    border-style: solid;
    border-color: black;
    display: block;
}

#header {
    margin: 0px 0px 5px 0px;
    position: static;
    /*text-align:left;*/
    width: 100%;
    height: 100%;
    /*background-color:#f0f0f0;
			background-image:url('./elemente/bg_ob.png');
			background-size:100% 100%;
			background-repeat: no-repeat; */
    border: 0px;
    border-color: red;
    border-style: solid;
    padding: 0 0 0 0;
    display: block;
}

#head_bg {
    width: 100%;
    margin: 0;
}

#main {
    display: ;
    position: relative;
    margin: auto 6px;
    padding: 5px 5px;
    text-align: center;
    /*min-height:224px;*/
    border-width: 0px;
    border-style: solid;
    border-color: blue;
    overflow: hidden;
}

#navbar {
    z-index: 10;
    text-align: left;
    float: left;
    /*	min-height:224px;*/
    border-width: 0px;
    border-style: solid;
    border-color: red;
    padding: 0px 2px;
    display: ;
}

#sidebar {
    text-align: center;
    float: right;
    border-width: 0px;
    border-style: solid;
    border-color: red;
    padding: 0px 0px;
    margin: 0px 5px 0px 10px;
}

#sidebar:hover {
    /*background:blue; Nur fürs dev */
}

#sidebar div {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

#articles {
    /*min-height:224px;*/
    /*border-width: 3px;
			border-style:solid;
			border-color: violet;*/
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin: 0 0 0 auto;
    float: none;
    /*display:block;*/
    overflow: hidden;
    /* Zentraler Inhalt Hintergrund
			
			border-style: solid;
			border-width: 2px; 
			-moz-border-image: url(./elemente/transborder.png) 27;
			-webkit-border-image: url(./elemente/transborder.png) 27;
			-o-border-image: url(./elemente/transborder.png) 27;
			border-image: url(./elemente/transborder.png) 27 fill;
			background: grey;*/
}

#footer {
    bottom: 0px;
    border: 2px;
    border-color: orange;
    border-style: dotted;
    display: ;
}

img {
    /*margin: 5px 5px;*/
}

a:link {
    font-family: Verdana, sans-serif;
    color: #333333;
    text-decoration: none;
}

a:visited {
    font-family: Verdana, sans-serif;
    color: #666666;
    text-decoration: none;
}

a:hover {
    font-family: Verdana, sans-serif;
    color: #F88030;
    text-decoration: none;
}

a:active {
    font-family: Verdana, sans-serif;
    color: #000000;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

ul,
li {
    list-style: none;
}

#nav li {
    padding: 2px 2px 2px 20px;
    cursor: default;
    margin: 5px -35px;
}

#nav ul {
    display: none;
    /*background: url(./elemente/dots.png) repeat-y scroll 10px 0 transparent; */
}

#nav li.expand {
    background: url(./elemente/arrow_down.gif) no-repeat scroll 0px 7px transparent;
}

.expanded {
    background: url(./elemente/arrow_up.gif) no-repeat scroll 0px 7px transparent !important;
}


/* - - - - - */

.hiddentext {
    font-family: Verdana, sans-serif;
    font-size: 9px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    color: #003460;
}

.intro {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 15px;
    border-top-width: 5px;
    border-left-width: 5px;
}


/* - - - - - */

.eingabe {
    height: auto;
    width: auto;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    border: 1px #000000 dotted;
    list-style-image: url((URL));
    background-color: #E8ECF0;
}

.navigation {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
}

.navigation div {
    padding-left: 3px;
    padding-right: 3px;
}


/* - - - - - */

.signatur {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    text-align: center;
}

.teaser {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: normal;
    text-align: justify;
    vertical-align: top;
    word-spacing: normal;
}

.blog-img {
    margin-top: 5px;
    margin-right: 5px;
    float: left;
    height: 75px;
    width: 100px;
}


/* - - - - - */

.navinews {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    color: #000000;
    width: 80%;
    margin: 10px;
    border: 2px solid transparent;
    border-color: #006A32;
    /*-webkit-border-image: url(elemente/rand2.png) 100 stretch;
    /* Safari 3.1-5 */
    /*-o-border-image: url(elemente/rand2.png) 100 stretch;*/
    /* Opera 11-12.1 */
    /*border-image: url(elemente/randNeu.png) 150 stretch;*/
    border-image-repeat: stretch;
}


}
.rubrik {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
}

/* - - - - - */
.title {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}
.title-ressort {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}
.ressort {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    word-spacing: normal;
}

/* - - - - - */
.linksbund {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: normal;
    text-align: justify;
    float: left;
    vertical-align: top;
    word-spacing: normal;
}
.rechtsbund {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: normal;
    text-align: justify;
    float: right;
    vertical-align: top;
    word-spacing: normal;
}
hr.line {
    margin: 1px;
    border-style: solid;
    border-size: 1px;
    size: 1;
    background: #006A32;
    color: #006A32;
    background-color: #006A32;
    margin-bottom: 5px;
}

/*///////////////////////////
//      CSS von Oisin      //
///////////////////////////*/

/* Galerie CSS */
#galerie {
    background-color: gray;
    padding: 5px;
    
    width: 510px;
    user-select: none;
}
#inner {
    background-color: lightgray;
    padding: 5px;
}
.galerie-teaser {
    border: 1px solid blue;
    margin: 3px;
}
#galerie-big {
    width: 100%;
}
#steuerung > span, #steuerung-top > span {
    cursor: pointer;
}
#steuerung {
    cursor: default;
    text-align: center;
    margin-top: 3px;
}
#steuerung-top{
    cursor: default;
    text-align: center;
    margin-bottom: 2px;
}

/* Ende Galerie CSS */

.centerimg {
    margin: auto;
}
table {
    border-collapse: collapse;
    border: 1px solid #006A32;
}
th {
    background-color: #00cc00;
    text-align: center;
}
th,
td {
    border-bottom: 1px solid #006A32;
    padding: 5px;
}
.noborder,
.noborder td,
th {
    border-bottom: 0px solid #FFFFFF;
    border: 0px solid #FFFFFF;
}
.titel {
    font-family: Verdana;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}
.subtitel {
    font-family: Verdana;
    font-size: 10pt;
    text-align: center;
    font-weight: bold;
}
label {
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
    width: 100%;
}
input,
textarea {
    width: 70%;
    background-color: transparent;
    float: right;
    border: 1px solid #00cc00;
    box-sizing: border-box;
}
#senden {
    width: 100%;
    margin-top: 10px;
    background-color: initial;
    font-weight: bold;
}
/*////////////////////////
// Ende von Oisin's CSS //
////////////////////////*/
.navbar-link {
    display: none;
}

/* media abhaengiges CSS (media queries fragen die verfuegbare Aufloesung ab, CSS3) */

/* mobile Seite (bzw. sehr geringe Aufloesungen */
@media (max-width:850px),
handheld,
(orientation:portrait) {
    /*
	*{margin: 0px 0px; }
	*/
    /*BODY,HTML{
		;height:100%;

		padding:0; 
		margin:0;
		
	}*/
    
    #wrapper {
        padding: 0px 7px 0px 7px;
        margin: 0px 0px;
    }
    
    #header {
        width: auto;
        display: ;
    }
    
    #main {
        display: auto;
        /*position:relative;*/
    }
    
    #navbar {
        background-color: #94C01E;
        background-clip: content-box;
        opacity: 0.95;
        position: absolute;
        top: 0px;
        width: 10em;
        left: -10em;
        /*margin-left:-15%;*/
        margin: 5px auto;
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        float: left;
        padding: 13.5% 0% 0% 0%;
        /* display:none;*/
        overflow: visible;
    }
    
    #navbar.active {
        -webkit-transform: translate(10em, 0px);
        -moz-transform: translate(10em, 0px);
        -o-transform: translate(10em, 0px);
        -ms-transform: translate(10em, 0px);
        transform: translate(10em, 0px);
    }
    
    #sidebar {
        float: none;
        display: none;
    }
    
    #articles {
        float: none;
    }
    
    #main {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    
    #main.active {
        margin: 0px 0px 0px auto;
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0em);
        width: 75%;
    }
    
    .navbar-link {
        display: inline;
        position: absolute;
        top: 15px;
        height: ;
        width: ;
        right: -160px;
        /*border:0px;
	border-color:#606060;
	border-radius:8px;
	border-style:solid; */
    }
}

/* kleine PC-Bildschirme */
@media(min-width:851px) and (max-width:1050px) {
    #wrapper {
        width: 800px;
        padding: 0px 11px 0px 10px;
    }
    
    #header {}
    
    #main {}
    
    #navbar {
        width: 160px;
    }
    
    #sidebar {
        width: 160px;
    }
    
    #articles {}
}

/* Laptop und einige Smartphones */
@media(min-width:1051px) and (max-width: 1450px) {
    #wrapper {
        width: 1000px;
        padding: 0px 14px 0px 13px;
    }
    
    #header {}
    
    #main {}
    
    #navbar {
        width: 160px;
    }
    
    #sidebar {
        width: 180px;
    }
    
    #articles {
        /*width: 624px;*/
    }
}

/* hohe Aufloesungen */
@media(min-width:1451px) {
    #wrapper {
        width: 1400px;
    }
    
    #header {}
    
    #main {}
    
    #navbar {
        width: 220px;
    }
    
    #sidebar {
        width: 220px;
    }
    
    #articles {}
}
@viewport {
    width: device-width;
    zoom: 0.4;
}